<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetEvenLucky"
        tools:targetApi="31">
        <activity
            android:name=".Exported.Protected_Activity"
            android:exported="false" />
        <activity
            android:name=".Exported.Home_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.jd_s4nd_b0x.getevenlucky.VULNERABLE_ACTION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Fire_Base.Fire_Base"
            android:exported="false" />
        <activity
            android:name=".Login_Activity.Login_Activity"
            android:exported="false" />
        <activity
            android:name=".SharedPrefs.Shared_Preferences"
            android:exported="false" />
        <activity
            android:name=".Stringee.Strings"
            android:exported="false" />
        <activity
            android:name=".Happy"
            android:exported="false" />
        <activity
            android:name=".Logee.Log_Doubt"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>