<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    Permission to Internet Access-->
    <uses-permission android:name="android.permission.INTERNET" />
<!--    Permission for application to check for Network Access-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!--    Permission to Read Files from Storage-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    Permission to Write Files to Storage-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B4by_W0rk"
        tools:targetApi="31">
        <activity
            android:name=".Front_Page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>